.come-in {
  transform: translateY(200px);
  animation: come-in 1s ease forwards;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s;
}

.come-in-swipe {
  /* visibility: visible; */
  opacity: 1 !important;
  transform: translateX(-1000px);
  animation: come-in-swipe 2s ease forwards;
}

.come-in-swipe-even {
  transform: translateX(1000px);
  opacity: 1 !important;
  animation: come-in 2s ease forwards;
}

/* .come-in-swipe:nth-child(even) {
  animation-duration: 0.6s;
} */

@keyframes come-in {
  to { transform: translateY(0); }
}

@keyframes come-in-swipe {
  to { transform: translateX(0); }
}
